<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xabila</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='xabilla-logo.png') }}" alt="Xabila Logo" class="logo">
        <h1 class="brand-name">Xabila</h1>
        <p class="tagline">Using blockchain technology to link Web 3.0 brands with Africa’s top creators</p>
    </div>
</body>
</html>
